.post-card {
  padding: 16px;
  border-radius: 12px;
  border: 1px solid var(--border-color);
  width: fit-content;
  cursor: pointer;
}

.post-card__img {
  width: 354px;
  height: 234px;
  border-radius: 6px;
  margin-bottom: 16px;
}

.post-card__content {
  padding: 8px;
  width: 344px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: start;
}

.post-card__footer {
  margin-top: 4px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.post-card__author-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: -8px;
}
