.text-field {
  position: relative;
  display: flex;
  align-items: center;
  padding: 12px 16px;
  gap: 10px;
  border-radius: 6px;
  font-size: 16px;
}

.text-field input {
  border: none;
  width: calc(100% - 14px);
  background-color: unset;
  color: #a1a1aa;
}

.text-field input:focus {
  outline: none;
}

.text-field__error-message {
  position: absolute;
  top: 48px;
  font-size: var(--xs-font);
  color: var(--danger-color);
}
